<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enqbs.generator.dao.ProductMapper">
  <resultMap id="BaseResultMap" type="com.enqbs.generator.pojo.Product">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_category_id" jdbcType="INTEGER" property="productCategoryId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="sub_title" jdbcType="VARCHAR" property="subTitle" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="slider" jdbcType="VARCHAR" property="slider" />
    <result column="lowest_price" jdbcType="DECIMAL" property="lowestPrice" />
    <result column="virtual_price" jdbcType="DECIMAL" property="virtualPrice" />
    <result column="sale" jdbcType="INTEGER" property="sale" />
    <result column="saleable_status" jdbcType="INTEGER" property="saleableStatus" />
    <result column="new_status" jdbcType="INTEGER" property="newStatus" />
    <result column="recommend_status" jdbcType="INTEGER" property="recommendStatus" />
    <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, product_category_id, title, sub_title, picture, slider, lowest_price, virtual_price, 
    sale, saleable_status, new_status, recommend_status, delete_status, create_time, 
    update_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_product
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_product
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.enqbs.generator.pojo.Product">
    insert into tb_product (id, product_category_id, title, 
      sub_title, picture, slider, 
      lowest_price, virtual_price, sale, 
      saleable_status, new_status, recommend_status, 
      delete_status, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{productCategoryId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{subTitle,jdbcType=VARCHAR}, #{picture,jdbcType=VARCHAR}, #{slider,jdbcType=VARCHAR}, 
      #{lowestPrice,jdbcType=DECIMAL}, #{virtualPrice,jdbcType=DECIMAL}, #{sale,jdbcType=INTEGER}, 
      #{saleableStatus,jdbcType=INTEGER}, #{newStatus,jdbcType=INTEGER}, #{recommendStatus,jdbcType=INTEGER}, 
      #{deleteStatus,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.enqbs.generator.pojo.Product">
    insert into tb_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="productCategoryId != null">
        product_category_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="subTitle != null">
        sub_title,
      </if>
      <if test="picture != null">
        picture,
      </if>
      <if test="slider != null">
        slider,
      </if>
      <if test="lowestPrice != null">
        lowest_price,
      </if>
      <if test="virtualPrice != null">
        virtual_price,
      </if>
      <if test="sale != null">
        sale,
      </if>
      <if test="saleableStatus != null">
        saleable_status,
      </if>
      <if test="newStatus != null">
        new_status,
      </if>
      <if test="recommendStatus != null">
        recommend_status,
      </if>
      <if test="deleteStatus != null">
        delete_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productCategoryId != null">
        #{productCategoryId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="subTitle != null">
        #{subTitle,jdbcType=VARCHAR},
      </if>
      <if test="picture != null">
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="slider != null">
        #{slider,jdbcType=VARCHAR},
      </if>
      <if test="lowestPrice != null">
        #{lowestPrice,jdbcType=DECIMAL},
      </if>
      <if test="virtualPrice != null">
        #{virtualPrice,jdbcType=DECIMAL},
      </if>
      <if test="sale != null">
        #{sale,jdbcType=INTEGER},
      </if>
      <if test="saleableStatus != null">
        #{saleableStatus,jdbcType=INTEGER},
      </if>
      <if test="newStatus != null">
        #{newStatus,jdbcType=INTEGER},
      </if>
      <if test="recommendStatus != null">
        #{recommendStatus,jdbcType=INTEGER},
      </if>
      <if test="deleteStatus != null">
        #{deleteStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.enqbs.generator.pojo.Product">
    update tb_product
    <set>
      <if test="productCategoryId != null">
        product_category_id = #{productCategoryId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="subTitle != null">
        sub_title = #{subTitle,jdbcType=VARCHAR},
      </if>
      <if test="picture != null">
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="slider != null">
        slider = #{slider,jdbcType=VARCHAR},
      </if>
      <if test="lowestPrice != null">
        lowest_price = #{lowestPrice,jdbcType=DECIMAL},
      </if>
      <if test="virtualPrice != null">
        virtual_price = #{virtualPrice,jdbcType=DECIMAL},
      </if>
      <if test="sale != null">
        sale = #{sale,jdbcType=INTEGER},
      </if>
      <if test="saleableStatus != null">
        saleable_status = #{saleableStatus,jdbcType=INTEGER},
      </if>
      <if test="newStatus != null">
        new_status = #{newStatus,jdbcType=INTEGER},
      </if>
      <if test="recommendStatus != null">
        recommend_status = #{recommendStatus,jdbcType=INTEGER},
      </if>
      <if test="deleteStatus != null">
        delete_status = #{deleteStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.enqbs.generator.pojo.Product">
    update tb_product
    set product_category_id = #{productCategoryId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      sub_title = #{subTitle,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR},
      slider = #{slider,jdbcType=VARCHAR},
      lowest_price = #{lowestPrice,jdbcType=DECIMAL},
      virtual_price = #{virtualPrice,jdbcType=DECIMAL},
      sale = #{sale,jdbcType=INTEGER},
      saleable_status = #{saleableStatus,jdbcType=INTEGER},
      new_status = #{newStatus,jdbcType=INTEGER},
      recommend_status = #{recommendStatus,jdbcType=INTEGER},
      delete_status = #{deleteStatus,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectListByCategoryId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_product
    where
    product_category_id = #{productCategoryId,jdbcType=INTEGER}
    and saleable_status = 1
    and delete_status = 0
    order by create_time desc
    limit 0, 30
  </select>
</mapper>
