<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enqbs.generator.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.enqbs.generator.pojo.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="experience" jdbcType="INTEGER" property="experience" />
    <result column="level_id" jdbcType="INTEGER" property="levelId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, uid, nick_name, photo, gender, experience, level_id, status, delete_status, create_time,
    update_time
  </sql>

  <sql id="Base_Column_List_Join">
    u.id, u.uid, u.nick_name, u.photo, u.gender, u.experience, u.level_id, u.status, u.delete_status, u.create_time,
    u.update_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_user
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_user
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.enqbs.generator.pojo.User">
    insert into tb_user (id, uid, nick_name,
                         photo, gender, experience,
                         level_id, status, delete_status,
                         create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=BIGINT}, #{nickName,jdbcType=VARCHAR},
            #{photo,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER}, #{experience,jdbcType=INTEGER},
            #{levelId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{deleteStatus,jdbcType=INTEGER},
            #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertSelective" parameterType="com.enqbs.generator.pojo.User" useGeneratedKeys="true" keyProperty="id">
    insert into tb_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="nickName != null">
        nick_name,
      </if>
      <if test="photo != null">
        photo,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="experience != null">
        experience,
      </if>
      <if test="levelId != null">
        level_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="deleteStatus != null">
        delete_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="experience != null">
        #{experience,jdbcType=INTEGER},
      </if>
      <if test="levelId != null">
        #{levelId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="deleteStatus != null">
        #{deleteStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.enqbs.generator.pojo.User">
    update tb_user
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=BIGINT},
      </if>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="experience != null">
        experience = #{experience,jdbcType=INTEGER},
      </if>
      <if test="levelId != null">
        level_id = #{levelId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="deleteStatus != null">
        delete_status = #{deleteStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.enqbs.generator.pojo.User">
    update tb_user
    set uid = #{uid,jdbcType=BIGINT},
        nick_name = #{nickName,jdbcType=VARCHAR},
        photo = #{photo,jdbcType=VARCHAR},
        gender = #{gender,jdbcType=INTEGER},
        experience = #{experience,jdbcType=INTEGER},
        level_id = #{levelId,jdbcType=INTEGER},
        status = #{status,jdbcType=INTEGER},
        delete_status = #{deleteStatus,jdbcType=INTEGER},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectListByParam" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List_Join" />
    from tb_user AS u
    JOIN tb_user_auths AS ua ON ua.user_id = u.id
    <trim prefix="where " suffixOverrides="and">
      <if test="id != null">
        u.id = #{id,jdbcType=INTEGER} and
      </if>
      <if test="uid != null">
        u.uid = #{uid,jdbcType=BIGINT} and
      </if>
      <if test="status != null">
        u.status = #{status,jdbcType=INTEGER} and
      </if>
      <if test="deleteStatus != null">
        u.delete_status = #{deleteStatus,jdbcType=INTEGER} and
      </if>
      <if test="identifier != null">
        ua.identifier = #{identifier,jdbcType=VARCHAR} and
      </if>
      <if test="status != null">
        ua.status = #{status,jdbcType=INTEGER} and
      </if>
      <if test="deleteStatus != null">
        ua.delete_status = #{deleteStatus,jdbcType=INTEGER} and
      </if>
    </trim>
    <if test="sort != null">
      order by u.create_time ${sort}
    </if>
    <if test="pageNum != null and pageSize != null">
      <bind name="pageStart" value="(pageNum - 1) * pageSize" />
      limit #{pageStart}, #{pageSize}
    </if>
  </select>

  <select id="countByParam" parameterType="map" resultType="java.lang.Long">
    select
    count(*)
    from tb_user AS u
    JOIN tb_user_auths AS ua ON ua.user_id = u.id
    <trim prefix="where " suffixOverrides="and">
      <if test="id != null">
        u.id = #{id,jdbcType=INTEGER} and
      </if>
      <if test="uid != null">
        u.uid = #{uid,jdbcType=BIGINT} and
      </if>
      <if test="status != null">
        u.status = #{status,jdbcType=INTEGER} and
      </if>
      <if test="deleteStatus != null">
        u.delete_status = #{deleteStatus,jdbcType=INTEGER} and
      </if>
      <if test="identifier != null">
        ua.identifier = #{identifier,jdbcType=VARCHAR} and
      </if>
      <if test="status != null">
        ua.status = #{status,jdbcType=INTEGER} and
      </if>
      <if test="deleteStatus != null">
        ua.delete_status = #{deleteStatus,jdbcType=INTEGER} and
      </if>
    </trim>
  </select>
</mapper>
